<html>
<head>
  <title>Home</title>

  <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>



<div class = "row">
  <img class = "twit" src="img/sinatra.jpg">
  <div class = "about">The Great</div>
  <div class = "eng">English<div class="arrow-down"></div></div>
  <div class = "mid">Sinatra Home</div>
  <div class = "eng2">Sign in</div>
</div>
<div class = "rowone">
  <div class ="centertab"> <div class = "across"> <div class = "pad">Bio</div><div class = "pad">Discography</div>
  <!-- <div class = "pad">Press</div><div class = "pad">Investor relations</div><div class = "pad">Blogs</div><div class = "pad">Careers</div> --> </div></div>
 
</div>
<div class = "cont"><!-- <div class = "quote"> “you’ve either got or you haven’t got style, if you’ve got it you stand out a mile" - Frank Sinatra</div> -->
<div class = "bkg"> <div class = "tweet"></div> 
<!-- <div class = "disc">Twitter helps you create and share ideas and information istantly, without barriers.</div> --> </div></div>


<!-- FOOTER -->

<div class = "rowone">
  <div class ="centertab"> <div class = "across"> <div class = "pad"></div><div class = "pad"></div>
  <!-- <div class = "pad">Press</div><div class = "pad">Investor relations</div><div class = "pad">Blogs</div><div class = "pad">Careers</div> --> </div></div></div>

  <img class = "zzz" src="img/zzz.jpg">

</body>

</html>