<html>
<head>
  <title>Bio</title>
 <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
<div class = "row">
  <img class = "twit" src="img/sinatra.jpg">
  <div class = "about">The Great</div>
  <div class = "eng">English<div class="arrow-down"></div></div>
  <div class = "mid">Sinatra Disc</div>
  <div class = "eng2">Sign in</div>
</div>
<div class = "rowone">
  <div class ="centertab"> <div class = "across"> <div class = "pad">Bio</div><div class = "pad">Discography</div>
  <!-- <div class = "pad">Press</div><div class = "pad">Investor relations</div><div class = "pad">Blogs</div><div class = "pad">Careers</div> --> </div></div></div>
  
 <%= yield %>

</body>
</html