<h3>Let's create a Blog Post!</h3>
<a href="/">Back</a>


<form action="/create_contact" method="post">
  <label for="date">Date</label>
  <input type="text" id="date" name="contact[date]">
  <br>
  <label for="title">Title</label>
  <input type="text" id="title" name="contact[title]">
  <br>
   <label for="post">Post</label>
   <br>
  <!-- <input type="text" id="post" name="contact[post]"> -->
  <textarea name="contact[post]" rows="10" cols="50"></textarea>
  <br>
  <input type="submit" value="Create Post">
 
</form>
