/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 */

/*body {background-color: #d4f7ff;

}
h1 {font-style: italic;
border: 2px solid yellow;
}
p {border-bottom: 2px solid white;
border-top: 2px solid white;
}*/
.message {color: red;
font-size: 30px;
}

.marginlft {width: 100%;}
.marginacross {width: 91%;}

.textmrg {margin-left: 66%;}



